.infobox {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: lightgray 5px center/3em no-repeat;
  border: 2px solid lightskyblue;
  border-radius: 10px;
}
.caution {
  background-image: url("../images/caution.png");
}
.important {
  background-image: url("../images/important.png");
}
.note {
  background-image: url("../images/note.png");
}
.tip {
  background-image: url("../images/tip.png");
}
.warning {
  background-image: url("../images/warning.png");
}
.edlp {
  background-image: url("../images/logo_edelp.png");
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 190px;
  bg-overlay-color: rgb(236, 236, 236);
}

.hero-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.page-inner {
  padding-top: 200px !important;
}


